{# Template para los comandos Guardar y Borrar registro #}

    <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />
    <div class='Comandos'>

        <div class="Titulo">

        <div style="float: left;">
            {% include "_global/comandosSave.html.twig" %}
            {% include "_global/comandosDelete.html.twig" %}   
        </div>

        {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}

        <div style="clear: both;"></div>

        </div>
    </div>