{# BOTON PARA CREAR REGSITRO #}
{% if values.permisos.permisosModulo['IN'] and (values.template == values.controller ~ '/new.html.twig') %}
    <button class="btn green" onclick="$('#accion_{{values.controller}}').val('Crear');submitForm('manto_{{values.controller}}');">
        <i class="fa fa-newspaper-o"></i>&nbsp;Guardar
    </button>        
{% endif %}
