{# Template filtro.html.twig for ExpedirCab #}
{# -------------------------------------------------------#}
<div class='Filtro'>
    <form name='filtro' id='filtro' action='' method='POST'>
	<input name='controller' value='Facturacion' type='hidden' />
	<input name='action' value='list' type='hidden' />
        <div>

        <div style="float: left;">
        {{ macro.select({'caption':'Sucursal','visible':'1','updatable':'1','varEnv':'0'},none,'filtro[idSucursal]','filtro_idSucursal',none,values.filtro.idSucursal,values.sucursales,'Select',none,'submit();') }}
        </div>

        <div style="float: left; margin-left: 10px;">
        {{ macro.fecha({'caption':'Desde fecha','visible':'1','updatable':'1','varEnv':'0'},none,'filtro[desdeFecha]','filtro_desdeFecha',values.filtro.desdeFecha) }}
        </div>

        <div style="float: left; margin-left: 10px;">
        {{ macro.fecha({'caption':'Hasta fecha','visible':'1','updatable':'1','varEnv':'0'},none,'filtro[hastaFecha]','filtro_hastaFecha',values.filtro.hastaFecha) }}
        </div>

        <div style="float: left; margin-left: 0px; margin-top:15px;">
            <input type="button" value="Buscar" class="Comando" title="Buscar Clientes" alt="Buscar"
                   onclick="DesplegableAjax('div_clientes','filtro_idCliente','filtro[idCliente]','clientesFacturacion',$('#filtro_idSucursal').val()+'@'+$('#filtro_desdeFecha').val()+'@'+$('#filtro_hastaFecha').val());"/>
        </div>

        <div id="div_clientes" style="float: left; margin-left: 10px;"></div>

        <div style="clear: both;"></div>

        </div>
    </form>
    {{ macro.foco('filtro_desdeFecha')}}
</div>