{# Template edit.html.twig for Promociones #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Promociones/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Promociones" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="Promociones[IDPromocion]" value="{{ values.datos.IDPromocion }}" type="hidden" />
        {% if values.promoAplicada == 0 %}
            {% include "_global/comandosSaveDelete.html.twig" %}
        {% endif %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "Promociones/form.html.twig" with {'datos': values.datos, 'promoAplicada': values.promoAplicada} %}
        </div>
    </form>
</div>
{% endblock %}