{# Template index.html.twig for Submenu #}
{# -------------------------------------------------------#}
{% extends popup %}

{% block title parent() ~ " - " ~ values.titulo %}

{% block content %}
	<div class='Subtitulo'>{{ values.titulo }}
    	{% block navegador %}
            {% include '_global/comandosNew.html.twig' with {'controller': values.controller, 'linkValue': values.linkBy.value} %}
	{% endblock %}
        </div>

        <div id="div_listado">
        {% block listado %}
	{% endblock %}
        </div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}