{# DashBoard #}
{% if values.dashBoard|length %}
<div class="dashBoard">
    <p style="text-align: center;">DashBoard</p>
    
    <div style="float: left; width:50%">
    {# Tesorería #}
    {% include 'Index/dashBoardTesoreria.html.twig' %}
    
    {# Logística #}
    {% include 'Index/dashBoardLogistica.html.twig' %}
    </div>
    
    <div style="float: left; width:50%">
    {# Top 10 #}
    {% include 'Index/dashBoardTop10.html.twig' %}
    
    {# Presupuestos #}
    {% include 'Index/dashBoardPstos.html.twig' %}    
    </div>
   
</div>
{% endif %}