/config/config.yml
/config/configProd.yml
/config/configDev.yml
/tmp/
/docs/docs001/tmp/
/docs/docs001/xls/
/docs/docs001/xml/
/docs/docs001/yml/
/docs/docs001/pdfs/
/docs/docs001/cvs/
/nbproject/
/docs/docs1/
/docs/docs11/
/docs/docs12/
/docs/docsX/
/docs/docs8/
/docs/docs2/
/docs/docs3/
/docs/docs7/
/docs/docs14/
/docs/docs15/
/docs/docs6/
/log/
/phpdoc/
/nbproject/
error_log
/lib/error_log
.DS_Store

