{#
  Module: SldSliders
  Document : modules\SldSliders\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 09.12.2012 08:36:04
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
    {% include '_global/TituloGenerico.html.twig' with {'controller':  values.controller, 'linkValue': values.linkBy.value} %}

    {% block filtro %}
    {% if values.permisos.permisosModulo['CO'] and values.tieneListado %}
        {% include values.controller ~ '/filtro.html.twig' with {'filter': values.listado.filter} %}
    {% endif %}
    {% endblock %}

    <div id='div_listado'>
    {% block listado %}
    {% endblock %}
    </div>

    {% block mantenimiento %}
    {% endblock %}
{% endblock %}