{# Template edit.html.twig for ClientesGrupos #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'ClientesGrupos/index.html.twig' %}

{% block navegador %}
{% include '_global/comandosList.html.twig' with {'controller': 'ClientesGrupos'} %}
{% include '_global/comandosNew.html.twig' with {'controller': 'ClientesGrupos'} %}
{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="ClientesGrupos" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="ClientesGrupos[IDGrupo]" value="{{ values.datos.IDGrupo }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "ClientesGrupos/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}