{# Template edit.html.twig for Fabricantes #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Fabricantes/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Fabricantes" type="hidden" />
        <input name="action" id="action_{{values.controller}}" value="edit" type="hidden" />
        <input name="Fabricantes[IDFabricante]" value="{{ values.datos.IDFabricante }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "Fabricantes/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}