{# Template index.html.twig for RutasVentas #}
{# -------------------------------------------------------#}
{% extends layout %}

{% block title parent() ~ " - " ~ values.titulo %}

{% block content %}
	<div class='Titulo'>{{ values.titulo }}
	{% block navegador %}		
	{% endblock %}
        {% include '_global/comandosHelp.html.twig' with {'controller':values. controller} %}
	</div>

	{% block filtro %}
		{% include 'RutasVentas/filtro.html.twig' with {'filter':values.listado.filter} %}
	{% endblock %}

        <div id="div_listado">
        {% block listado %}
	{% endblock %}
        </div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}