<div style="float:left; padding: 10px;">
<img src="{{app.path}}/images/logo-albatronic.png" height="50" alt="Logo Empresa"/>
</div>
<div style="float:right; padding: 15px;">
    <h1>Manual {{app.name}}</h1>
</div>