{# Template edit.html.twig for Propiedades #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Propiedades/index.html.twig' %}

{% block navegador %}
{% include "_global/comandosList.html.twig" with {'controller': values.controller, 'linkValue': values.linkBy.value} %}
{% include "_global/comandosNew.html.twig" with {'controller': values.controller, 'linkValue': values.linkBy.value} %}
{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" enctype="multipart/form-data" method="POST">
        <input name="controller" value="Propiedades" type="hidden" />
        <input name="action" id="action" value="edit" type="hidden" />
        <input name="Propiedades[Id]" value="{{ values.datos.Id }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas} %}                
	{% include "Propiedades/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}