{% extends "_help/layout.html.twig" %}

{%block titulo%}<h2>Agencias</h2>{%endblock%}

{% block contenido %}

<h2>Preguntas Frecuentes</h2>
<ul>
    <ol>¿Agencias?</ol>
    <ol>¿Problemas comunes?</ol>
</ul>

<h2>Soluciones</h2>

<p>agencias agencias agencias agencias agencias agencias agencias agencias v agencias agencias agencias  agencias agencias</p>

<a href="{{app.path}}/Clientes/help">Ver Clientes</a>
{% endblock %}