# Module: ErpUnidadesMedida
# Document : modules/ErpUnidadesMedida/config.yml
#
# @author: Sergio Pérez <sergio.perez@albatronic.com>
# @copyright: Informática ALBATRONIC SL
# @date 25.03.2013 20:02:30
#
---
UnidadesMedida:
  app: ''
  isModuleRoot: 0
  linkModule:
    fromColumn: ''
    toEntity: ''
    toColumn: ''
  translatable: false
  searchable: false
  showCommonFields: false
  numMaxRecords: ''
  numberOfImages: '0'
  withGalery: '0'
  withDocuments: '0'
  withVideos: 0
  withAudios: '0'
  maxSizes:
    image: '400000'
    document: ''
    video: ''
    audio: ''
  galery:
    maxWidthImage: '500'
    maxHeightImage: '400'
    generateThumbnail: '0'
    widthThumbnail: '50'
    heightThumbnail: '50'
  urlFriendlyManagement: false
  fieldGeneratorUrlFriendly: UnidadMedida
  metatagTitleManagement: false
  fieldGeneratorMetatagTitle: UnidadMedida
  controller: UnidadesMedida
  action: Index
  template: index.html.twig
  parametros: ''
  includesHead:
    twigCss: _global/css.html.twig
    twigJs: _global/js.html.twig
  login_required: YES
  permission_control: YES
  favourite_control: NO
  help_file: help.html.twig
  title: Unidades de Medida
  id_video: unidadesmedida
  url_video: null
  feature_list: YES
  conection: ''
  entity: UnidadesMedida
  table: ErpUnidadesMedida
  primarykey: Id
  linkBy: ''
  records_per_page: 15
  order_by:
    -
      title: 'Unidad Medida a-z'
      criteria: 'UnidadMedida ASC'
    -
      title: 'Unidad Medida z-a'
      criteria: 'UnidadMedida DESC'
  search_default: UnidadMedida
  referenced_entities:
    - ValoresSN
    - ValoresPrivacy
    - ValoresDchaIzq
    - ValoresChangeFreq
    - RequestMethods
    - RequestOrigins
    - CpanAplicaciones
  columns:
    Id:
      title: Id
      visible: false
      updatable: false
      filter: NO
      list: NO
      default: null
      help: null
      permission: null
      translatable: false
      searchable: false
      link: { route: null, param: null, title: null, target: null, link: null }
    UnidadMedida:
      title: Unidad Medida
      filter: YES
      list: true
      visible: true
      updatable: true
      default: null
      help: null
      permission: null
      translatable: false
      searchable: false
      link: { route: null, param: null, title: null, target: null, link: null }
      validator: { nullable: NO, type: string, length: '10', min: null, max: null, message: 'Valor Requerido' }
