# Module: ZonasHorarias
# Document : modules/ZonasHorarias/config.yml
#
# @author: Sergio Pérez <sergio.perez@albatronic.com>
# @copyright: Informática ALBATRONIC SL
# @date 02.02.2014 13:12:28
#
---
ZonasHorarias:
  app: ''
  isModuleRoot: 0
  linkModule:
    fromColumn: ''
    toEntity: ''
    toColumn: ''
  modulosRelacionables: ''
  translatable: false
  searchable: false
  showCommonFields: false
  numMaxRecords: ''
  numberOfImages: '0'
  withMetadata: '0'
  addMetadata: '0'
  deleteMetadata: '0'
  withGalery: '0'
  withDocuments: '0'
  withVideos: 0
  withAudios: '0'
  maxSizes:
    image: '400000'
    document: ''
    video: ''
    audio: ''
  galery:
    maxWidthImage: '500'
    maxHeightImage: '400'
    generateThumbnail: '0'
    widthThumbnail: '50'
    heightThumbnail: '50'
  urlFriendlyManagement: false
  fieldGeneratorUrlFriendly: Zona
  metatagTitleManagement: false
  fieldGeneratorMetatagTitle: Zona
  fieldGeneratorMetatagDescription: Zona
  fieldGeneratorMetatagKeywords: Zona
  controller: ZonasHorarias
  action: Index
  template: index.html.twig
  parametros: ''
  includesHead:
    twigCss: _global/css.html.twig
    twigJs: _global/js.html.twig
  login_required: YES
  permission_control: YES
  favourite_control: NO
  help_file: help.html.twig
  title: Zonas Horarias
  id_video: zonashorarias
  url_video: null
  feature_list: YES
  conection: ''
  entity: ZonasHorarias
  table: ErpZonasHorarias
  primarykey: IDZona
  linkBy: ''
  records_per_page: 15
  order_by:
    -
      title: 'Zona a-z'
      criteria: 'Zona ASC'
    -
      title: 'Zona z-a'
      criteria: 'Zona DESC'
  search_default: Zona
  referenced_entities:
    - ValoresSN
    - ValoresPrivacy
    - ValoresDchaIzq
    - ValoresChangeFreq
    - RequestMethods
    - RequestOrigins
    - CpanAplicaciones
  columns:
    IDZona:
      title: IDZona
      visible: false
      updatable: false
      filter: NO
      list: NO
      default: null
      help: null
      permission: null
      translatable: false
      searchable: false
      link: { route: null, param: null, title: null, target: null, link: null }
    Zona:
      title: Zona
      filter: YES
      list: YES
      visible: true
      updatable: true
      default: null
      help: null
      permission: null
      translatable: false
      searchable: false
      link: { route: null, param: null, title: null, target: null, link: null }
      validator: { nullable: YES, type: string, length: '255', min: null, max: null, message: 'Valor Requerido' }
