{# Template new.html.twig for Agentes #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Agentes/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
    <form class="form-horizontal margin-top-20" name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Agentes" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="accion" value="new" type="hidden" />
        {% include '_global/FormErrores.html.twig' with {'errores': values.errores} %}
        {% include "Agentes/formNew.html.twig" with {'datos': values.datos} %}
    </form>
{% endblock %}