{# Template index.html.twig for RecepcionarLineas   #}
{# -------------------------------------------------#}
{% extends popup %}

{% block content %}
    {% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
    {% include "_global/alertas.html.twig" with {'alertas': values.alertas} %}

    {% block listado %}
    {% endblock %}

    {% block mensaje %}
    <ul style="margin: 50px;">
    {% for mensaje in values.mensajes %}
        <li><h3>{{ mensaje }}</h3></li>
    {% endfor %}
    </ul>
    {% endblock %}

    <div id="notificacion"></div>

    {% if values.entidad == 'PedidosCab' %}
        {% if values.objetoEntidad.IDEstado.IDTipo == '2' %}
        <h3 style="cursor: pointer; margin: 50px;" onclick="$('#dialogFacturar').dialog('open');">Conformar Pedido</h3>
        {% include 'PedidosCab/dialogoFacturar.html.twig' with {'pedido': values.objetoEntidad } %}
        {% endif %}         
    {% endif %}
    
{% endblock %}
