{# Template edit.html.twig for Tarifas #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Tarifas/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form class="form-horizontal" name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Tarifas" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="Tarifas[IDTarifa]" value="{{ values.datos.IDTarifa }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "Tarifas/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}