{#
    Arbol recursivo de CONTENIDOS

    Se muestran las secciones de contenidos y los eventuales contenidos de cada una,
    ya que para acceder a un contenido, se muestra el árbol de secciones

    Se muestran tres niveles jerárquivos de secciones

#}
{% extends '_global/layoutPopup.html.twig' %}

{% block content %}
<form name="formEnlace" id="formEnlace" action="" method="POST" class="form_container left_label">
    <input name="controller" value="{{values.controller}}" type="hidden" />
    <input name="action" id="action" value="enlazar" type="hidden" />
    <input name="accion" id="accion" value="" type="hidden" />
    <input name="idEntidadOrigen" value="{{values.idEntidadOrigen}}" type="hidden" />
    <input name="entidadDestino" id="entidadDestino" value="{{values.entidadDestino.getClassName}}" type="hidden" />
    <input name="idEntidadDestino" id="idEntidadDestino" value="{{values.idEntidadDestino}}" type="hidden" />
    
    {% include 'GconContenidos/arbol.html.twig' with {'arbol': values.entidadDestino.getArbolHijos, 'subtemplate':'arbolContenidosEnlazar.html.twig'} %}

</form>
{% endblock %}

