{# Template edit.html.twig for Zonas #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Zonas/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Zonas" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="Zonas[IDZona]" value="{{ values.datos.IDZona }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "Zonas/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}