{# Template new.html.twig for Proveedores #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Proveedores/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Proveedores" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="Proveedores[IDProveedor]" value="{{ values.datos.IDProveedor }}" type="hidden" />
        {% include '_global/comandosCreate.html.twig' %}

        <div class="Cuerpo">
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "Proveedores/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}