{# Template index.html.twig for ExpedirLineas #}
{# -------------------------------------------#}

{% extends popup %}

{% block content %}
    {% include "_global/errores.html.twig" with {'errores': values.errores} %}
    {% include "_global/alertas.html.twig" with {'alertas': values.alertas} %}

    {% block listado %}
    {% endblock %}

    {% block mensaje %}
    <ul style="margin: 50px;">
    {% for mensaje in values.mensajes %}
        <li><h3>{{ mensaje }}</h3></li>
    {% endfor %}
    </ul>
    {% endblock %}
    <div id="notificacion"></div>
{% endblock %}
