{# Template index.html.twig for FrecibidasCab #}
{# -------------------------------------------------------#}
{% extends layout %}

{% block title parent() ~ " - " ~ values.titulo %}

{% block content %}
	<div class='Titulo'>{{ values.titulo }}
        {% include '_global/comandosHelp.html.twig' with {'controller': values.controller} %}
        </div>

	{% block filtro %}
        {% if values.permisos.permisosModulo['CO'] %}
		{% include 'FrecibidasCab/filtro.html.twig' with {'filter':values.listado.filter} %}
        {%endif%}
	{% endblock %}

        <div id="div_listado">
        {% block listado %}
	{% endblock %}
        </div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}