{# Template new.html.twig for Existencias #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Existencias/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Existencias" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="Existencias[IDLote]" value="{{ values.datos.IDLote }}" type="hidden" />
        {% include '_global/comandosCreate.html.twig' %}

        <div class="Cuerpo">
	{% include '_global/FormErrores.html.twig' with {'errores': values.errores} %}
	{% include "Existencias/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}