{# Template new.html.twig for Almacenes #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Almacenes/index.html.twig' %}

{% block navegador %}
{% include "_global/comandosList.html.twig" with {'controller': values.controller, 'linkValue': values.linkBy.value} %}
{% endblock %}


{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="Almacenes" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="Almacenes[IDAlmacen]" value="{{ values.datos.IDAlmacen }}" type="hidden" />
        {% include '_global/comandosCreate.html.twig' %}

        <div class="Cuerpo">
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "Almacenes/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}