{# Template edit.html.twig for TiposVenta #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'TiposVenta/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="TiposVenta" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="TiposVenta[IDVenta]" value="{{ values.datos.IDVenta }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "TiposVenta/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}